exceptiongroup==1.2.0
gmsh==4.12.2
iniconfig==2.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
meshio==5.3.5
numpy==1.26.4
packaging==23.2
pluggy==1.4.0
Pygments==2.17.2
pytest==8.0.2
rich==13.7.1
tomli
scipy==1.16.0
